// tones
$white: #fff;
$black: #000;
$light-grey: #ccc;
$very-light-grey: #eee;
$dark-grey: #333;

// main palette
$purple: #410f70;
$dark-purple: #220b4e;
$brown: #70370f;
$dark-brown: #4e260b;
$green: #47700f;
