.button-next {
    background-color: $purple;
    border: none;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    padding: .75em;

    &:hover {
        opacity: .5;
    }

    &:after {
        content: ' >';
    }
}

.button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: .75em;
    width: 10em;

    &.button-primary {
        background-color: $green;
        color: $white;
    }

    &:hover {
        opacity: .75;
    }
}

button:disabled {
    display: none;
}

select {
    font-size: 100%;
    padding: .5em;
}