nav.main-nav {
    border-bottom: 1px solid $black;
    display: block;

    li {
        display: inline-block;

        &.active button {
            background: $purple;
            color: $white;
        }

        button {
            background: transparent;
            border: 0;
            cursor: pointer;
            padding: .5em;

            &:hover {
                background: $light-grey;
            }
        }
    }
}
