.modal-background {
    background-color: rgba(0,0,0,.5);
    display: table;
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.modal-dialog {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 25px #333333;
    color: #555;
    display: inline-block;
    max-width: 40em;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 90%;
}

.modal-dialog h2 {
    background-color: $purple;
    border-radius: 5px 5px 0 0;
    color: $white;
    margin: 0;
    padding: .5em .75em .75em;
}

.close-modal {
    background-color: transparent;
    background-image: url(/img/close.svg);
    background-size: 100%;
    border: none;
    cursor: pointer;
    height: 2em;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 2em;
}

.modal-content {
    max-height: 70vh;
    overflow-y: scroll;
    padding: 1em;
}